{{> header }}

<div class="container">
	{{> flash }}

	<form action="/users/forgot" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">Reset Password</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
				</div>
				<button type="submit" class="btn btn-primary">Reset Password</button>
			</div><!-- Panel Body -->
		</div><!-- Panel Default -->
	</form>
</div><!-- Container ends -->

{{> footer }}
