{{> header }}

<div class="container">
  {{> flash }}

  <form action="/users/reset-password" method="post">
    <div class="panel panel-default">
      <div class="panel-heading">Reset Password</div>

      <div class="panel-body">
        <div class="form-group">
          <label for="exampleInputEmail1">New Password</label>
          <input type="password" class="form-control" placeholder="New Password" name="password" value="">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirm" value="">
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
      </div><!-- Panel Body -->
    </div><!-- Panel Default -->
  </form>
</div><!-- Container ends -->

{{> footer }}
